/*
 * Global Values
 */
Label {
    -fx-text-fill: #ffffff;
    -fx-font-family: "godofwar";
}

Button {
    -fx-text-fill: #ffffff;
    -fx-font-family: "godofwar";
    -fx-label-padding: -5 0 0 0;
    -fx-text-alignment: center;
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
}

Button:hover {
    -fx-effect: dropshadow(one-pass-box, rgba(255, 255, 255, 0.5), 10, 0, 0, 0);
}

ToggleButton {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
}

/*
 * Welcome Scene
 */
#background {
    -fx-background-image: url("/img/ui/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#backgroundStart {
    -fx-background-image: url("/img/ui/backgroundStart.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#logo {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.btn {
    -fx-background-image: url("/img/ui/btn.png");
    -fx-background-size: stretch;
    -fx-font-size: 24px;
}

.btn:pressed {
    -fx-background-image: url("/img/ui/btnPressed.png");
}

/*
 * Connection Scene
 */
.inputLabel {
    -fx-font-size: 20px;
}

.inputLabelSmall {
    -fx-font-size: 16px;
}

.inputArea {
}

/*
 * Registration Scene
 */
.btnSq {
    -fx-background-image: url("/img/ui/btnSq.png");
    -fx-background-size: stretch;
    -fx-font-size: 30px;
}

.btnSq:pressed {
    -fx-background-image: url("/img/ui/btnSqPressed.png");
}

/*
 * Waiting Room Scene
 */
.greeting {
    -fx-font-size: 35px;
}

.waitLabel {
    -fx-font-size: 30px;
}

#progressBar {
    -fx-padding: 8;
}

/*
 * Choose Leaders Scene
 */
.leaderImg {
    -fx-background-size: 100px;
}

.leaderToggle {
    -fx-pref-width: 50;
}

.leaderToggle:selected {
    -fx-effect: dropshadow(one-pass-box, rgba(37, 242, 255, 0.5), 20, 0, 0, 0);
}

.leaderToggle:hover {
    -fx-effect: dropshadow(one-pass-box, rgba(255, 255, 255, 0.5), 10, 0, 0, 0);
}

/*
 * Choose Resources Scene
 */
.resourceNumLabel {
    -fx-font-size: 30px;
    -fx-padding: 0 5 0 5;
}

.btnSqAlt {
    -fx-background-image: url("/img/ui/btnSq.png");
    -fx-background-size: stretch;
    -fx-font-size: 20px;
}

.btnSq:pressed {
    -fx-background-image: url("/img/ui/btnSqPressed.png");
}

/*
 * Main Board Scene
 */
#mainBoard {
    -fx-background-image: url("/img/ui/mainBoard.png");
    -fx-background-position: center center;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}